**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [225]:
ds = pd.read_csv('ratings.csv')
ds2 = pd.read_csv('movies.csv')

In [226]:
merged = ds.merge(ds2, on='movieId', how='left')

In [227]:
new_data = merged.filter(items = ['rating', 'title'])

In [228]:
best = new_data[new_data.rating == 5.0 ]

In [229]:
best['title'].value_counts().head()

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: title, dtype: int64

**Задание 2** 
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [155]:
countries = pd.read_csv('power.csv')

In [160]:
countries[ countries['country'].str.contains('Lith',case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [161]:
countries[ countries['country'].str.contains('est',case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [162]:
countries[ countries['country'].str.contains('Lat',case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [221]:
filtered_countries = countries[ (countries['country']=='Lithuania') | (countries['country']=='Estonia')\
                               |(countries['country']=='Latvia')]

In [222]:
s = filtered_countries.loc[(filtered_countries['year']>=2005)& (filtered_countries['year']<=2010)]

In [223]:
x = s.query('(quantity > 0) & ((category== 4)|(category== 12)|(category == 21))')

In [224]:
x['quantity'].sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [51]:
pd.read_html('https://fortrader.org/quotes')[5]

,Type,Last,Chg.,Chg.%,Time
0,Bitcoin Курс биткоина,9311.090000,-338.36,-3.51,NaN
1,Litecoin Курс лайткоин к доллару (LTC/USD),70.723000,-4.952,-6.544,NaN
2,BitcoinCash Курс Биткоин кеш к доллару США (BC...,349.010000,-28.36,-7.52,NaN
3,Dash Dash,96.130000,-7.55,-7.28,NaN
4,Ripple Ripple,0.254010,-0.01677,-6.19322,NaN
5,Ethereum Ethereum,248.472000,-15.838,-5.992,NaN
6,EmerCoin EmerCoin,NaN,нет данных,нет данных,NaN
7,NameCoin NameCoin,NaN,нет данных,нет данных,NaN
8,PeerCoin PeerCoin,NaN,нет данных,нет данных,NaN
9,BTCRUB биткоин в рублях,247059.000000,нет данных,нет данных,NaN
10,BTCEUR биткоин в евро,8559.910000,нет данных,нет данных,NaN
11,Zcash (ZEC),57.096000,-3.904,-6.400,NaN
12,NEO (NEO),12.523000,-0.872,-6.506,NaN
13,EOS (EOS),4.092500,-0.0353,-0.8552,NaN
14,TRON (TRX),0.018796,-0.001079,-5.428931,NaN
15,Monero,76.268000,-2.787,-3.525,NaN
16,Cardano,0.058258,-0.000702,-1.190638,NaN
17,IOTA,0.246810,-0.01496,-5.71314,NaN
18,"ETC/USD эфириум классик, ETC",9.149600,-0.2176,-2.3230,NaN

In [54]:
pd.read_html('https://fortrader.org/quotes')[6]

,Type,Last,Chg.,Chg.%,Time
0,Фьючерс РТС Курс фьючерса на индекс РТС,118130.00,нет данных,нет данных,NaN
1,РТС Курс индекса РТС,1644.25,нет данных,нет данных,NaN
2,DAX30,12805.10,-230.1,-1.8,NaN
3,Индекс Dow 30 (DJI),27611.00,-350,-1,NaN
4,FTSE,7137.70,-19.1,-0.3,NaN
5,CAC 40,5677.20,-101.3,-1.8,NaN
6,Nasdaq 100,9023.80,-55.83,-0.61,NaN
7,Russell 2000,1595.70,-32.4,-2.0,NaN
8,S&P 500,3190.09,+3 094.88,+3 250.58,NaN
9,IBEX 35,9251.80,-223.5,-2.4,NaN
10,Nikkei 225,22166.00,-648,-3,NaN
11,Euro Stoxx 50,3574.60,-65.2,-1.8,NaN
12,S&P/ASX 200,6779.00,нет данных,нет данных,NaN
13,MIB,23055.00,нет данных,нет данных,NaN